
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #82cda8;
    }
</style>

<div>
    <h1 style="color:Black;font-size:250%; text-align:center;padding-top:100px;font-weight:bold;">"We grade companies on the<br /> fairness of their <br /> employee agreements."</h1>
    <h5 style="color:Black;text-align:center;padding-top:100px;font-weight:bold;">We are the nation's leader in employment agreement advocacy. We hold <br />corporations responsible by creating a transparent, level playing <br /> field for all employees.</h5>
</div>
<footer class="container-fluid">
    <div class="row">
        <h5 class="display-12">Create by Anika Arabi</h5>
        <h5 class="display-12">Id: 1267947</h5>
    </div>

</footer>
